<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
    <h1>Seja bem vindo!</h1>
    <hr>
    
    <% if (playlist && video == undefined) { %>
        <p>Você está na playlist de <%=playlist%></p>
    <% } %>
    
    <% if (playlist && video) { %>
        <p>Você está na playlist de <%=playlist%> e rodando o video <%=video%></p>
    <% } %>
        
    <% if (playlist == undefined && video == undefined) { %>
        <p>Sem parâmetros</p>
    <% } %>


    <%- include ('partials/footer.ejs') %>